In [2]:
import pandas as pd
import numpy as np

# Series 정의하기
x = pd.Series([4, 3, 5, 8])
print(x)
print(type(x))
# Series의 값만 확인하기
print(x.values)
# Series의 인덱스만 확인하기
print(x.index)
# Series의 자료형 확인하기
print(x.dtype)

0    4
1    3
2    5
3    8
dtype: int64
<class 'pandas.core.series.Series'>
[4 3 5 8]
RangeIndex(start=0, stop=4, step=1)
int64

In [4]:
data = [100, 200, 300, 400]
index_labels = ['a', 'b', 'c', 'd']
series = pd.Series(data, index=index_labels)
print(series)

a    100
b    200
c    300
d    400
dtype: int64

In [6]:
#dictionary 자료형으로 Series data로 만들기
#dictionary의 key가 Series의 index가 된다
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
print(obj3)

obj3.name = 'Salary'
obj3.index.name = "Names"
print(obj3)
# index 변경
obj3.index = ['A', 'B', 'C', 'D']
print(obj3)

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64
Names
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: Salary, dtype: int64
A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

In [8]:
# index 사용
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)
print(x[['서울']])
print(x[['서울','부산']])

서울    7
대구    3
부산    5
광주    8
dtype: int64
서울    7
dtype: int64
서울    7
부산    5
dtype: int64

In [9]:
#Series 연산
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
y=pd.Series([2,4,5,1], index=['대구','부산','서울','대전'])
print(x+y)

광주     NaN
대구     5.0
대전     NaN
부산     9.0
서울    12.0
dtype: float64

In [10]:
# Data Frame 정의하기
# 이전에 DataFrame에 들어갈 데이터를 정의해주어야 하는데,
# 이는 python의 dictionary 또는 numpy의 array로 정의할 수 있다.
data = {'names': ['민준', '현우', '서연', '동현', '지현'],
'years': [2013, 2014, 2015, 2016, 2015],
'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df
# 행과 열의 구조를 가진 데이터가 생긴다.

  names  years  points
0    민준   2013     1.5
1    현우   2014     1.7
2    서연   2015     3.6
3    동현   2016     2.4
4    지현   2015     2.9

In [15]:
data = {
    '이름':['이한1', '이한2', '이한3'],
    '나이' :[23,25,26],
    '좋아하는 음식' :['아이스크림', '피자', '국밥']
}
df = pd.DataFrame(data)

df.index = ['ID1', 'ID2', 'ID3']
df

      이름  나이 좋아하는 음식
ID1  이한1  23   아이스크림
ID2  이한2  25      피자
ID3  이한3  26      국밥